.slider {
    align-items: center;
    display: flex;

    height: 1rem;
    width: 16rem;
    position: relative;
}
.slider__first {
    background-color: rgb(99 102 241);
    height: 0.125rem;
    width: 50%;
}
.slider__knob {
    height: 1rem;
    width: 1rem;

    border-radius: 9999px;
    background-color: rgb(99 102 241);

    cursor: move;
    user-select: none;
    touch-action: none;

    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
}
.slider__second {
    background-color: rgb(203 213 225);
    flex: 1;
    height: 0.125rem;
}
