.container {
    border: 1px solid rgb(203 213 225);
    position: relative;
    width: 100%;
    height: 24rem;
}

.draggable {
    background: rgb(203 213 225);
    border-radius: 0.25rem;
    height: 8rem;
    width: 8rem;

    position: absolute;
    top: 0;
    left: 0;

    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Indicate that the element is draggable */
    cursor: move;
    user-select: none;
    touch-action: none;
}
