.cropper {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.cropper__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.cropper__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: #000;
    opacity: 0.5;
}
.cropper__preview {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.cropper__cropping {
    outline: 1px dashed #fff;
    height: 8rem;
    width: 8rem;

    position: absolute;
    top: 0;
    left: 0;

    cursor: move;
    user-select: none;
    touch-action: none;
}

.resizer {
    background: rgb(99 102 241);
    border-radius: 50%;
    outline: 2px solid #fff;
    position: absolute;

    height: 0.75rem;
    width: 0.75rem;
}
.resizer--r {
    cursor: col-resize;

    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}
.resizer--b {
    cursor: row-resize;

    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
